.navbar-brand img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.navbar.navbar-expand-lg.navbar-dark {
  background-color: #000080;
}

.navbar.navbar-expand-lg.navbar-dark a, .navbar.navbar-expand-lg.navbar-dark a.nav-link.active {
  color: whitesmoke;
  font-size: 1.3em;
  font-family: "Comfortaa", cursive;
}

.navbar.navbar-expand-lg.navbar-dark .dropdown-menu.show {
  background-color: #CF352E;
}

.navbar.navbar-expand-lg.navbar-dark .dropdown-menu.show :hover {
  background-color: #000080;
}

#Hero {
  height: 91vh;
  background-image: url("hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#Hero .row.align-items-center {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Hero .row.align-items-center .col.text-center a {
  background-color: #CF352E;
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

main hr {
  height: 3px;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

main #NuestroTaller {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main #NuestroTaller h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
  font-weight: 700;
}

main #NuestroTaller p {
  font-size: 1.5em;
  font-family: "Nunito", sans-serif;
}

main #NuestroTaller .Review {
  width: 100%;
}

main #NuestroTaller .Review h3 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  color: black;
  margin-bottom: 1.5rem;
}

main #NuestroTaller .Review img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1.5rem;
}

main #NuestroTaller .Review h4 {
  text-decoration: underline;
  font-size: 1.3em;
  font-family: "Comfortaa", cursive;
  color: black;
}

main #Servicios {
  height: 100vh;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

main #Servicios .row.align-items-center {
  height: 90%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #Servicios .row.align-items-center h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
  font-weight: 700;
}

main #Servicios .row.align-items-center h3 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
}

main #Servicios .row.align-items-center .col.text-center article img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

main #Servicios .row.align-items-center .col.text-center article h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
}

main #Servicios .row.align-items-center .col.text-center article a {
  text-decoration: underline;
  color: black;
}

main #Servicios .row.align-items-center button {
  background-color: #CF352E;
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  border-radius: 15px;
  color: whitesmoke;
}

main #Servicios .row.align-items-center button:hover {
  background-color: #000080;
}

main #Productos {
  height: 100vh;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

main #Productos .row.align-items-center {
  height: 90%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #Productos .row.align-items-center h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
  font-weight: 700;
}

main #Productos .row.align-items-center h3 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
}

main #Productos .row.align-items-center .col.text-center article img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

main #Productos .row.align-items-center .col.text-center article h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
}

main #Productos .row.align-items-center .col.text-center article a {
  text-decoration: underline;
  color: black;
}
/*# sourceMappingURL=style.css.map */