$fontPrincipal: 'Nunito', sans-serif;
$fontSecundario: 'Comfortaa', cursive;
$colorPrincipal: #800020;
$colorSecundario: #003153;

@mixin font($size,$fuente) {
    font-size: $size;
    font-family: $fuente;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  

.invisible{
    position: initial;
    height: 106px;
    z-index: 0;
    width: 100%;
    margin: 0 auto;
}

.navbar-brand{
    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}

.navbar.navbar-expand-lg.navbar-dark{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: $colorPrincipal;

    a, a.nav-link.active{
        color: whitesmoke;
        @include font(1.3em, $fontSecundario);
        .dropdown-item{
            max-width: 300px;
        }
    }

    // #svs{
    //     height: fit-content;
    //     li{
    //         a{
    //             word-wrap: break-word;
    //             white-space: normal;
    //         }
    //     }
    // }

    .dropdown-menu.show{
        background-color: $colorSecundario;

        .dropdown-item{
            padding: 15px;
        }

        
        :hover{
            background-color: $colorPrincipal;
        }
    }
}

body, html{
    position: absolute;
    width: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

#Hero{
    height: 91vh;
    width: 100%;
    scroll-margin-top: 106px;
    background: {
        image: url("hero.png");
        repeat: no-repeat;
        position: center;
        size: cover;
    };

    .row.align-items-center{
        height: 100%;
        display: flex;
        justify-content: center;

        .col.text-center{
            a{
                background-color: $colorPrincipal;
                @include font(2em, $fontPrincipal);
                text-transform: uppercase;
                color: whitesmoke;

                &:hover{
                    background-color: $colorSecundario;
                }
            }
        }
    }    
}

main {

    hr{
        height: 3px;
        width: 50%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #NuestroTaller{
        margin-top: 40px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        scroll-margin-top: 106px;

        h2{
            @include font(2em, $fontPrincipal);
            text-decoration: underline;
            font-weight: 700;
        }

        p{
            @include font(1.5em, $fontPrincipal);
        }

        .Review{
            width: 100%;
            
            h3{
                @include font(2em, $fontPrincipal);
                color: black;
                margin-bottom: 1.5rem;
            }

            img{
                width: 100%;
                max-width: 600px;
                margin-bottom: 1.5rem;
            }

            h4{
                text-decoration: underline;
                @include font(1.3em, $fontSecundario);
                color: black;
            }
        }
    }

    #Servicios{
        height: 100%;
        min-height: 100vh;
        scroll-margin-top: 106px;

        .row.align-items-center{
            height: 90%;
            min-height: fit-content;
            display: flex;
            justify-content: center;

            h2{
                @include font(2em, $fontPrincipal);
                text-decoration: underline;
                font-weight: 700;
            }

            h3{
                @include font(2em, $fontPrincipal);
            }

            .col.text-center{
                article{
                    
                    img{
                        width: 300px;
                        height: 300px;
                        border-radius: 50%;
                        margin-bottom: 1.5rem;
                    }

                    h2{
                        @include font(2em, $fontPrincipal);
                    }

                    a{
                        text-decoration: none;
                        color: black;
                        pointer-events: none;
                    }
                }
            }

            button{
                background-color: $colorPrincipal;
                @include font(2em, $fontPrincipal);
                text-transform: uppercase;
                border-radius: 15px;
                color: whitesmoke;
                border: solid 2px black;
                
            &:hover{
                    background-color: $colorSecundario;
                }
            }
        }
        
        
    }

    #Productos{
        height: 100%;
        min-height: 100vh;
        scroll-margin-top: 106px;

        .row.align-items-center{
            height: 90%;
            min-height: fit-content;
            display: flex;
            justify-content: center;

            h2{
                @include font(2em, $fontPrincipal);
                text-decoration: underline;
                font-weight: 700;
            }

            h3{
                @include font(2em, $fontPrincipal);
                text-decoration: underline;
            }

            #linkTodos{
                text-transform: uppercase;
            }

            a{
                text-decoration: underline;
                color: black;
            }

            #bk1, #bk2{
                display: none;
            }

            .col.text-center{
                article{
                    
                    img{
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        margin-bottom: 1.5rem;
                    }

                    h2{
                        @include font(2em, $fontPrincipal);
                    }

                    
                }
            }

        }

    }


    #Contacto{
        height: 100%;
        min-height: 100vh;
        width: 100%;
        background-color: $colorPrincipal;
        color: whitesmoke;
        scroll-margin-top: 106px;

        #ctmain{
            height: 100%;
            min-height: 100vh;

            #Forma{
                height: 100%;

                .col.text-center{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    text-align: center;
                }
                
                input, select, textarea{
                    border: $colorSecundario solid 2px;
                    border-radius: 5px;
                    height: 2.5em;
                    width: 80%;
                    @include font(1.5em, $fontPrincipal)
                }

                label{
                    @include font(1.5em, $fontSecundario)
                }

                button{
                    height: fit-content;
                    width: fit-content;
                    background-color: $colorSecundario;
                    border: none;
                    color: whitesmoke;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    @include font(1.5em, $fontPrincipal);
                    border-radius: 12px;
                    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    opacity: 0.9;
                    transition: 0.3s;
                    display: inline-block;
                    cursor: pointer;

                    &:hover{
                        opacity: 1;
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.61);
                    }
                }

                #brk1, #brk2{
                    display: none;
                }
    
            }
    
            #Mapa{
                height: 100%;
    
                #map{
                    width: 300px;
                    height: 300px;
                    background-color: whitesmoke;
                }

                h4{
                    @include font(2em,$fontPrincipal);
                }

                h3{
                    @include font(2em,$fontSecundario);
                }
    
                img{
                    width: 80px;
                    height: 80px;
                }
            }
        }

    }
}


footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    clear: both;
    position: relative;
    background-color: #3b3c36;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 2vh;
    color: white;

    img{
        border-radius: 5px;
        height: 40px;
    }

    p{
        font-size: 1em;
    }

    #by{
        display: flex;
        flex-direction: column;
        align-items: center;
       }
  }

  @media (max-width: 768px){   
      
    #Hero{
        background: {
            image: url("logoM.png");
            repeat: no-repeat;
            position: center;
            size: cover;
        };
    }

    #brk1, #brk2, #bk1, #bk2{
        display: block !important;
    }

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        span, img{
            margin: 20px;
        }
    }          
}

@media (min-width: 769px){    
         /* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px #0000002a;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    z-index: 2;
    background: $colorSecundario;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $colorPrincipal;
  }
}