* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.invisible {
  position: initial;
  height: 106px;
  z-index: 0;
  width: 100%;
  margin: 0 auto;
}

.navbar-brand img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.navbar.navbar-expand-lg.navbar-dark {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #800020;
}

.navbar.navbar-expand-lg.navbar-dark a, .navbar.navbar-expand-lg.navbar-dark a.nav-link.active {
  color: whitesmoke;
  font-size: 1.3em;
  font-family: "Comfortaa", cursive;
}

.navbar.navbar-expand-lg.navbar-dark a .dropdown-item, .navbar.navbar-expand-lg.navbar-dark a.nav-link.active .dropdown-item {
  max-width: 300px;
}

.navbar.navbar-expand-lg.navbar-dark .dropdown-menu.show {
  background-color: #003153;
}

.navbar.navbar-expand-lg.navbar-dark .dropdown-menu.show .dropdown-item {
  padding: 15px;
}

.navbar.navbar-expand-lg.navbar-dark .dropdown-menu.show :hover {
  background-color: #800020;
}

body, html {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#Hero {
  height: 91vh;
  width: 100%;
  scroll-margin-top: 106px;
  background-image: url("hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#Hero .row.align-items-center {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Hero .row.align-items-center .col.text-center a {
  background-color: #800020;
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  color: whitesmoke;
}

#Hero .row.align-items-center .col.text-center a:hover {
  background-color: #003153;
}

main hr {
  height: 3px;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

main #NuestroTaller {
  margin-top: 40px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  scroll-margin-top: 106px;
}

main #NuestroTaller h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
  font-weight: 700;
}

main #NuestroTaller p {
  font-size: 1.5em;
  font-family: "Nunito", sans-serif;
}

main #NuestroTaller .Review {
  width: 100%;
}

main #NuestroTaller .Review h3 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  color: black;
  margin-bottom: 1.5rem;
}

main #NuestroTaller .Review img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1.5rem;
}

main #NuestroTaller .Review h4 {
  text-decoration: underline;
  font-size: 1.3em;
  font-family: "Comfortaa", cursive;
  color: black;
}

main #Servicios {
  height: 100%;
  min-height: 100vh;
  scroll-margin-top: 106px;
}

main #Servicios .row.align-items-center {
  height: 90%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #Servicios .row.align-items-center h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
  font-weight: 700;
}

main #Servicios .row.align-items-center h3 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
}

main #Servicios .row.align-items-center .col.text-center article img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

main #Servicios .row.align-items-center .col.text-center article h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
}

main #Servicios .row.align-items-center .col.text-center article a {
  text-decoration: none;
  color: black;
  pointer-events: none;
}

main #Servicios .row.align-items-center button {
  background-color: #800020;
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  border-radius: 15px;
  color: whitesmoke;
  border: solid 2px black;
}

main #Servicios .row.align-items-center button:hover {
  background-color: #003153;
}

main #Productos {
  height: 100%;
  min-height: 100vh;
  scroll-margin-top: 106px;
}

main #Productos .row.align-items-center {
  height: 90%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #Productos .row.align-items-center h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
  font-weight: 700;
}

main #Productos .row.align-items-center h3 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
}

main #Productos .row.align-items-center #linkTodos {
  text-transform: uppercase;
}

main #Productos .row.align-items-center a {
  text-decoration: underline;
  color: black;
}

main #Productos .row.align-items-center #bk1, main #Productos .row.align-items-center #bk2 {
  display: none;
}

main #Productos .row.align-items-center .col.text-center article img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

main #Productos .row.align-items-center .col.text-center article h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
}

main #Contacto {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #800020;
  color: whitesmoke;
  scroll-margin-top: 106px;
}

main #Contacto #ctmain {
  height: 100%;
  min-height: 100vh;
}

main #Contacto #ctmain #Forma {
  height: 100%;
}

main #Contacto #ctmain #Forma .col.text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main #Contacto #ctmain #Forma input, main #Contacto #ctmain #Forma select, main #Contacto #ctmain #Forma textarea {
  border: #003153 solid 2px;
  border-radius: 5px;
  height: 2.5em;
  width: 80%;
  font-size: 1.5em;
  font-family: "Nunito", sans-serif;
}

main #Contacto #ctmain #Forma label {
  font-size: 1.5em;
  font-family: "Comfortaa", cursive;
}

main #Contacto #ctmain #Forma button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #003153;
  border: none;
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Nunito", sans-serif;
  border-radius: 12px;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}

main #Contacto #ctmain #Forma button:hover {
  opacity: 1;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.61);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.61);
}

main #Contacto #ctmain #Forma #brk1, main #Contacto #ctmain #Forma #brk2 {
  display: none;
}

main #Contacto #ctmain #midBrk {
  display: none;
}

main #Contacto #ctmain #Mapa {
  height: 100%;
}

main #Contacto #ctmain #Mapa #map {
  width: 300px;
  height: 300px;
  background-color: whitesmoke;
}

main #Contacto #ctmain #Mapa h4 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
}

main #Contacto #ctmain #Mapa h3 {
  font-size: 2em;
  font-family: "Comfortaa", cursive;
}

main #Contacto #ctmain #Mapa img {
  width: 80px;
  height: 80px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  clear: both;
  position: relative;
  background-color: #3b3c36;
  display: flex;
  flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh;
  color: white;
}

footer img {
  border-radius: 5px;
  height: 40px;
}

footer p {
  font-size: 1em;
}

footer #by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  #Hero {
    background-image: url("logoM.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #brk1, #brk2, #bk1, #bk2, #midBrk {
    display: block !important;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer span, footer img {
    margin: 20px;
  }
}

@media (min-width: 769px) {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    -webkit-box-shadow: inset 0 0 5px #0000002a;
            box-shadow: inset 0 0 5px #0000002a;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    z-index: 2;
    background: #003153;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #800020;
  }
}
/*# sourceMappingURL=style.css.map */